[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT=172.31.39.77:8080
Environment=DB_HOST=172.31.45.83
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target
